<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {% block title %} {% endblock %} </title>
		{% load static %}
		<link rel = 'icon' type = 'image/ico' href = "{% static 'city.png' %}">
		
		<script src = "{% static 'jquery/jquery.min.js' %}"></script>
		
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<script src ="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src ="{% static 'js/utils.js' %}"></script>

		{% block initial_scripts %} {% endblock %}
		{% block add_on_scripts %} {% endblock %}
	</head>
	<body class = "container">
		<nav class="navbar navbar-default">
			<div class="container-fluid" id="nav_bar">
			    <ul class="nav navbar-nav">
			      <li id="nav-home"><a href={% url 'dashboard:home' %}>Home</a></li>
			      <li id="nav-about"><a href={% url 'dashboard:about' %} >About</a></li>
			      <li id="nav-contact"><a href={% url 'dashboard:contact' %}>Contact</a></li>

			      {% if user.username %}
			      	<li id="logging_state"><a href={% url 'dashboard:dashLogout' %}>Logout</a></li>
			      {% else %}
			      	<li id="logging_state"><a href={% url 'dashboard:dashLogin' %}>Login</a></li>
			      {% endif %}

			    </ul>
			</div>
		</nav>
		
		{% block page-content %}
		{% endblock %}
		<div class="footer" style="text-align: center;">
			<p>&reg;Smacty Pvt. Ltd. All rights reserved.</p>
		</div>
	</body>
</html>