<html>
	<head>
		{% load static %}
		<script src = "{% static 'jquery/jquery.js' %}"></script>
		<script type="text/javascript" src = "{% static 'js/process_tab_content.js' %}"></script>
	</head>
	<body>
		<div id = "filters" >			
			Zone <input type="text" name="zone" placeholder="Zone ID">
			Street Number <input type = "text" placeholder="Street Number" name = "street"><br>
			
			Health
			<select name = "health">
				<option name = "" value = ""></option>
				<option name = "ALIVE" value = "1">Alive</option>
				<option name = "DEAD" value = "0">Dead</option>
				<option name = "SICK" value = "-1">Sick</option>
			</select>

			Status
			<select name = "running">
				<option name = "" value = ""></option>
				<option name = "ON" value = "1">On</option>
				<option name = "OFF" value = "0">Off</option>
			</select>
			<input type="submit" value="Filter" onclick = "process_results('lights')">			
		</div>
		<div id = "results">
			{% for i in APIData %}
				{{ i }}<br>
			{% endfor %}
		</div>
	</body>
</html>
