{% if isFiltered %}
	<div id = "filters" >			
		Zone <input type="text" name="zone" placeholder="Zone ID">
		Street Number <input type = "text" placeholder="Street Number" name = "street"><br>
		
		Health
		<select name = "health">
			<option name = "" value = ""></option>
			<option name = "ALIVE" value = "ALIVE">Alive</option>
			<option name = "DEAD" value = "DEAD">Dead</option>
			<option name = "SICK" value = "SICK">Sick</option>
		</select>

		Status
		<select name = "running">
			<option name = "" value = ""></option>
			<option name = "ON" value = "1">On</option>
			<option name = "OFF" value = "0">Off</option>
		</select>
		<input type="submit" value="Filter" onclick = "filter_results('lights')">			
	</div>
{% endif %}

<div id = "results">
	<div id = "light-summary">
		<button class = "total-count" onclick = ""> Street Lights ({{ APIData|length }})</button>
	</div>	
</div>
