{% if isFiltered %}
	<div id = "filters" >		
		Zone <input type="text" name="zone" placeholder="Zone ID">
		Street Number <input type = "text" placeholder="Street Number" name = "street"><br>
		Filled Percentage <input type = "text" name = "fill_percnt" placeholder="%">				
		<input type="submit" value="Filter" onclick = "process_results('water_tanks')">
	</div>
{% endif %}
<div id = "results">
	<div id = "tank-summary">
		<button class = "total-count"> Water Tanks ({{ APIData|length }})</button>
	</div>
</div>
