{% extends "dashboard/linwazs.html" %}

{% block initial_scripts %}
	<style>
		span {font-size: 2em;}		
	</style>
	{% include "dashboard/smacty_lights/light_modal.html" %}

{% endblock %}

{% block Heading %}	
	<span class = "glyphicon glyphicon-certificate" style="color: #c6ff1a;"></span> <span class=>Light</span>
{% endblock %}

{% block summary %}
	<div class="row">		
		<div class="col-xs-4 col-sm-4" style="padding: 2px;">
			<button class="btn btn-info btn-lg btn-block">Total <span class="badge">{{ TotalLights }}</span></button>
		</div>
		<div class="col-xs-4 col-sm-4" style="padding: 2px;">
			<button class="btn btn-warning btn-lg btn-block">ON <span class="badge">{{ Running }}</span></button>
		</div>
		<div class="col-xs-4 col-sm-4 " style="padding: 2px;">
			<button class="btn btn-danger btn-lg btn-block">Not OK <span class="badge">{{ NotHealthy }}</span></button>
		</div>
	</div>
{% endblock %}

{% block filters %}	
	<div class="form-inline">
		<label for="lt_street_number">Street Number: </label>
		<input type="text" class = "form-control" id="lt_street_number" onchange="light.light_filters()"/>
		
		<label for="lt_health_status">Live Status: </label>
		<select class = "form-control" id="lt_health_status" onchange="light.light_filters()">
			<option value="-1">--Select--</option>
			<option value="1">Alive Light</option>
			<option value="2">Sick Light</option>
			<option value="0">Dead Light</option>
		</select>
		
		<label for="lt_running_status">Running Status: </label>
		<select class = "form-control" id="lt_running_status" onchange="light.light_filters()">
			<option value="-1">--Select--</option>
			<option value="1">On</option>
			<option value="0">Off</option>
		</select>
		
		<label for="lt_zone">Zone: </label>
		<input id="lt_zone" type="text" class = "form-control" onchange="light.light_filters()">
	</div>
{% endblock %}

{% block results %}
	
	{# light results returned from API #}
	{% if APIError %}
		<div class="alert alert-error">
			<p>No Records Found.</p>
		</div>
	{% endif %}
	{% if ErrorMsg %}
		<div class="alert alert-error">
			<p>Invalid Data. Please check Input Details.</p>
		</div>
	{% endif %}
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>ID</th>
				<th>Status</th>
				<th>Health</th>
				<th>Location</th>				
			</tr>
		</thead>
		<tbody>
			{% for i in APIData %}
				<tr>
					<td>
						<a class="text-primary" onclick='light.show_modal("{{ i }}")'>{{ i.light_id }}</a>
					</td>
					<td>
						{% if i.running_status %}
							<p class="glyphicon glyphicon-fire" style="color: #ffea00;"></p>
						{% else %}
							<p class="glyphicon glyphicon-fire"></p>
						{% endif %}
					</td>
					<td>
						{% if i.health == 1 %}
							<p class="glyphicon glyphicon-ok-sign" style="color: #43a047;"></p>
						{% elif i.health == 2 %}
							<p class="glyphicon glyphicon-info-sign" style="color: #ff7043;"></p>
						{% else %}
							<p class="glyphicon glyphicon-remove-sign" style="color: #d50000;"></p>
						{% endif %}
					</td>
					<td> 
						<h5 style="color:#0d47a1;" class="glyphicon glyphicon-home">
							{{ i.street_number }}, {{ i.zone }}
						</h5>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}