<div class="modal fade" id="dustbin_details">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Water Tank Details</h4>                
            </div>

            <div class="modal-body">
            	<div class="panel panel-warning">
            		<div class="panel-heading">
            			<div id="water_tank_id" style="font-size: 25px;"></div>
            			<div id="water_tank_location"></div>
            		</div>
            		<div class="panel-body">
            			<div class="text-success" id="water_tank_filled" hidden>FILLED: TRUE</div>
					    <div class="text-danger" id="water_tank_not_filled" hidden>
                            FILLED: FALSE <a onclick="water_tank.notify_filled()"><span class="glyphicon glyphicon-share"></span></a>
                        </div>
            		</div>
            	</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> Close
                </button>
            </div>

        </div>
    </div>
</div>
