{% extends "base/base.html" %}
{% block title %}Smacty{% endblock %}

{% block initial_scripts %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/tabs_handler.js' %}"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			setup.apply_active("nav-home");
		})
		
	</script>
{% endblock %}

{% block page-content %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<ul class="nav nav-tabs">
				<li ><a data-toggle="tab" onclick="light.lights()">Light</a></li>
				<li><a data-toggle="tab" onclick="dustbin.dustbins()">Dustbin</a></li>
				<li><a data-toggle="tab" onclick="water_tank.tanks()">Water Tank</a></li>
			</ul>
		</div>
		<div class="panel-body">			
			<div id="entity_content" class="tab-pane fade in active"></div>
		</div>
	</div>
{% endblock %}